[submodule "Cursus/Curcle 0/libft-renewal-"]
	path = Cursus/Curcle 0/libft-renewal-
	url = https://github.com/Tolerblanc/libft-renewal-.git
[submodule "Cursus/Curcle 1/ft_printf"]
	path = Cursus/Curcle 1/ft_printf
	url = https://github.com/Tolerblanc/ft_printf.git
[submodule "Cursus/Curcle 2/ft_server"]
	path = Cursus/Curcle 2/ft_server
	url = https://github.com/Tolerblanc/ft_server.git
[submodule "Cursus/Curcle 2/minitalk"]
	path = Cursus/Curcle 2/minitalk
	url = https://github.com/Tolerblanc/minitalk.git
[submodule "Cursus/Curcle 1/netwhat"]
	path = Cursus/Curcle 1/netwhat
	url = https://github.com/Tolerblanc/netwhat.git
[submodule "Cursus/Curcle 1/get_next_line"]
	path = Cursus/Curcle 1/get_next_line
	url = https://github.com/Tolerblanc/get_next_line.git
[submodule "Cursus/Curcle 1/get_next_line-renewal-"]
    path = Cursus/Curcle 1/get_next_line
    url = https://github.com/Tolerblanc/get_next_line-renewal-.git
[submodule "Cursus/Curcle 2/push_swap"]
	path = Cursus/Curcle 2/push_swap
	url = https://github.com/Tolerblanc/push_swap
[submodule "Cursus/Curcle 3/philosophers"]
	path = Cursus/Curcle 3/philosophers
	url = https://github.com/Tolerblanc/philosophers.git
[submodule "Cursus/Curcle 3/minishell"]
	path = Cursus/Curcle 3/minishell
	url = https://github.com/42seoul-H2O/minishell.git
[submodule "Cursus/Curcle 2/so_long"]
	path = Cursus/Curcle 2/so_long
	url = https://github.com/Tolerblanc/so_long.git
[submodule "Cursus/Curcle 4/CPP_Module00"]
	path = Cursus/Curcle 4/CPP_Module00
	url = https://github.com/Tolerblanc/CPP_Module00.git
[submodule "Cursus/Curcle 4/CPP_Module01"]
	path = Cursus/Curcle 4/CPP_Module01
	url = https://github.com/Tolerblanc/CPP_Module01.git
[submodule "Cursus/Curcle 4/CPP_Module02"]
	path = Cursus/Curcle 4/CPP_Module02
	url = https://github.com/Tolerblanc/CPP_Module02.git
[submodule "Cursus/Curcle 4/CPP_Module03"]
	path = Cursus/Curcle 4/CPP_Module03
	url = https://github.com/Tolerblanc/CPP_Module03.git
[submodule "Cursus/Curcle 4/CPP_Module04"]
	path = Cursus/Curcle 4/CPP_Module04
	url = https://github.com/Tolerblanc/CPP_Module04.git
[submodule "Cursus/Curcle 5/CPP_Module05"]
	path = Cursus/Curcle 5/CPP_Module05
	url = https://github.com/Tolerblanc/CPP_Module05.git
[submodule "Cursus/Curcle 5/CPP_Module06"]
	path = Cursus/Curcle 5/CPP_Module06
	url = https://github.com/Tolerblanc/CPP_Module06.git
[submodule "Cursus/Curcle 5/CPP_Module07"]
	path = Cursus/Curcle 5/CPP_Module07
	url = https://github.com/Tolerblanc/CPP_Module07.git
[submodule "Cursus/Curcle 5/CPP_Module08"]
	path = Cursus/Curcle 5/CPP_Module08
	url = https://github.com/Tolerblanc/CPP_Module08.git
[submodule "Cursus/Curcle 5/CPP_Module09"]
	path = Cursus/Curcle 5/CPP_Module09
	url = https://github.com/Tolerblanc/CPP_Module09.git
[submodule "Cursus/Curcle 4/miniRT"]
	path = Cursus/Curcle 4/miniRT
	url = https://github.com/42Seoul-H2O/miniRT.git
[submodule "Cursus/Curcle 5/ft_irc"]
	path = Cursus/Curcle 5/ft_irc
	url = https://github.com/42Seoul-IRC/ft_irc.git
[submodule "Cursus/Curcle 5/Inception"]
	path = Cursus/Curcle 5/Inception
	url = https://github.com/Tolerblanc/Inception.git
