[submodule "Cursus/get_next_line"]
	path = Cursus/get_next_line
	url = https://github.com/Tolerblanc/get_next_line.git
[submodule "Cursus/Curcle 0/libft-renewal-"]
	path = Cursus/Curcle 0/libft-renewal-
	url = https://github.com/Tolerblanc/libft-renewal-.git
[submodule "Cursus/Curcle 1/ft_printf"]
	path = Cursus/Curcle 1/ft_printf
	url = https://github.com/Tolerblanc/ft_printf.git
[submodule "Cursus/Curcle 2/ft_server"]
	path = Cursus/Curcle 2/ft_server
	url = https://github.com/Tolerblanc/ft_server.git
[submodule "Cursus/Curcle 2/minitalk"]
	path = Cursus/Curcle 2/minitalk
	url = https://github.com/Tolerblanc/minitalk.git
[submodule "Cursus/Curcle 1/netwhat"]
	path = Cursus/Curcle 1/netwhat
	url = https://github.com/Tolerblanc/netwhat.git
[submodule "Cursus/Curcle 1/get_next_line"]
	path = Cursus/Curcle 1/get_next_line
	url = https://github.com/Tolerblanc/get_next_line.git
